#header-div {
  background: url("https://images.unsplash.com/photo-1619604107557-b5321217aee7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8bWVsdGVkJTIwY2hlZXNlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=1000&q=60") no-repeat center fixed;
  background-size: cover;
  padding-bottom: -20px;
  padding-top: 20px;
  margin: -20px;
}

#title {
  padding: 90px;
  color: antiquewhite;
  font-family: cursive;
  font-size: 72px;
}

#overlay {
  padding: 0px;
  padding-top: 20px;
  margin: -10px;
  background: linear-gradient(0deg, rgba(5, 5, 5, 0.54), rgba(60, 60, 60, 0.69)), url(../../images/carousel-img2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#first-p {
  font-size: 40px;
  color: antiquewhite;
  padding-bottom: 70px;
}

#img-caption {
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(0, 0, 0);
  padding-left: -10;
}

#under-header-caption {
  padding: 60px;
  background-color: beige;
  border-bottom: 4px black solid;
  border-top: 4px black solid;
  animation-name: fade;
  animation-duration: 4s;
}


@keyframes fade {
  0% {
    background-color: rgb(248, 248, 95);
  }

  50% {
    background-color: rgb(240, 240, 154);
  }

  70% {
    background-color: rgb(240, 240, 192);
  }

  100% {
    background-color: rgb(246, 246, 206);
  }
}

#spacer {
  padding: 20px;
}

* {
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  table-layout: fixed;
  background-color: #f6f9fc;
}

.webkit {
  max-width: 100%;
  background-color: #ffffff;
}

.outer {
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  border-spacing: 0;
  font-family: sans-serif;
  color: #4a4a4a;
}


.three-columns {
  text-align: center;
  font-size: 0;
  padding-top: 40px;
  padding-bottom: 30px;
}

.three-columns .column {
  width: 100%;
  max-width: 500px;
  display: inline-block;
  vertical-align: top;
}

.padding {
  padding: 15px;
}

.three-columns .content {
  font-size: 16px;
  line-height: 20px;
}

a {
  text-decoration: none;
  color: #388cda;
  font-size: 16px;
}


#pizza-img {
  border: 2px solid black;
  box-shadow: 0 7px 7px rgba(180, 179, 179, 0.8), 0 -7px 7px rgba(180, 179, 179, 0.8);
  border-radius: 5px;
  margin-left: 50px;

}

#column-text-left {
  padding-top: 100px;
  padding-left: 110px;
  padding-right: 90px;
  font-size: 20px;
}

#mozz-div-line {
  margin-top: -440px;
}

#cheddar-img {
  border: 2px solid black;
  box-shadow: 0 7px 7px rgba(180, 179, 179, 0.8), 0 -7px 7px rgba(180, 179, 179, 0.8);
  border-radius: 5px;
  margin-top: 20px;

}

#cheddar-img:hover {
  transform: scale(1.1)
}

#column-text-right {
  padding-top: 100px;
  padding-right: 110px;
  padding-left: 90px;
  font-size: 20px;
}

#ched-div-line {
  margin-top: -250px;
}


#berty-img {
  height: 50%;
  background-size: cover;
  border: 2px solid black;
  box-shadow: 0 7px 7px rgba(180, 179, 179, 0.8), 0 -7px 7px rgba(180, 179, 179, 0.8);
  border-radius: 5px;
  margin-top: 40px;
  margin-left: 50px;
}

#sub-info {
  margin-top: -10px;
  margin-bottom: 40px;
  margin-left: 190px;
  margin-right: 190px;
}

h3 {
  font-size: 40px;
  margin-left: 90px;
}

#veg-cheese {
  width: 550px;
  height: auto;
  background-size: cover;
  border: 2px solid black;
  margin-top: 40px;
}

#veg-box {
  width: 550px;
  height: auto;
  background-color: rgba(0, 0, 0, 0.11);
  border: 2px solid black;
  margin-top: -10px;
}

#email-box {
  padding: 60px;
  background-color: beige;
  border-bottom: 4px black solid;
  border-top: 4px black solid;
  margin-bottom: -10px;
}

#email-sub-p {
  font-size: 17px;
  margin-bottom: 25px;
}

#email-form {
  width: 500px;
  border-color: rgba(0, 0, 0, 0.573);
  border-radius: 5px;
  padding: 5px;
}

#sub-button {
  margin-top: 25px;
  font-size: 12px;
  transform: scale(1.5);
  background-color: white;
  color: black;
  border-radius: 5px;
  border-color: black;
  padding: 3px 15px 3px 15px;
  border-width: 1pt;
}


.popup {
  position: absolute;
  text-align: center;
  background-color: rgba(179, 176, 176, 0.393);
  height: 100%;
  width: 100%;
  max-width: 100%;
  padding-top: 250px;
  padding-bottom: 250px;
  transform: scale(0.1);
  visibility: hidden;
  transition: transform 0.4s;
}

.open-popup {
  visibility: visible;
  position: fixed;
  transform: scale(1);
  top: 0px;
}

.popup img {
  height: 25%;
  width: 25%;
  padding-bottom: 20px;
  margin-top: -35px;
}


.popup div {
  background-color: white;
  margin-left: 580px;
  margin-right: 580px;
  border-radius: 5px;
  box-shadow: 0 7px 7px rgba(180, 179, 179, 0.8), 0 -7px 11px rgba(180, 179, 179, 0.8);
}


.popup button {
  margin-top: 25px;
  font-size: 12px;
  transform: scale(1.5);
  background-color: white;
  color: black;
  border-radius: 5px;
  border-color: black;
  padding: 3px 15px 3px 15px;
  border-width: 1pt;
  margin-bottom: 25px;
}

.popup p2 {
  font-size: 29px;
}


@media (max-width: 700px) {
  .popup div {
    margin-left: 60px !important;
    margin-right: 60px !important;
  }

  #veg-cheese {
    width: 80%;
  }

  #veg-box {
    width: 80%;
  }

  #email-form {
    width: 80%;
  }

  #email-box {
    margin-right: -30px;
    margin-left: -20px;
  }

  h3 {
    text-align: center;
    font-size: 40px;
    margin-left: 0px;
  }

  #sub-info {
    text-align: center;
    margin-top: -10px;
    margin-bottom: 40px;
    margin-left: 10px;
    margin-right: 10px;
  }

  #berty-img {
    height: 50%;
    margin-top: 0px;
    margin-left: 0px;
  }

  #cheddar-img {
    margin-left: 0px;
  }

  #pizza-img {
    margin-left: 0px;
  }

  .wrapper {
    width: fit-content;
  }

  #column-text-left {
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
  }

  #column-text-right {
    text-align: center;
    padding-right: 30px;
    padding-left: 30px;

  }
}