#header-div {
  background: url("https://images.unsplash.com/photo-1619604107557-b5321217aee7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8bWVsdGVkJTIwY2hlZXNlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=1000&q=60") no-repeat center fixed;
  background-size: cover;
  padding-bottom: -20px;
  padding-top: 20px;
  margin: -20px;
}

#title {
  padding: 90px;
  color: antiquewhite;
  font-family: cursive;
  font-size: 72px;
}

#overlay {
  padding: 0px;
  padding-top: 20px;
  margin: -10px;
  background: linear-gradient(0deg, rgba(5, 5, 5, 0.54), rgba(60, 60, 60, 0.69)), url(../../images/carousel-img2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#first-p {
  font-size: 40px;
  color: antiquewhite;
  padding-bottom: 70px;
}

#img-caption {
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(0, 0, 0);
  padding-left: -10;
}

#under-header-caption {
  padding: 60px;
  background-color: beige   ;
  border-bottom: 4px black solid;
  border-top: 4px black solid;
  animation-name: fade;
  animation-duration: 4s;
}


@keyframes fade{
  0%{
    background-color: rgb(248, 248, 95);
  }
  50%{
    background-color: rgb(240, 240, 154);
  }
  70%{
    background-color: rgb(240, 240, 192);
  }
  100%{
    background-color: rgb(246, 246, 206);
  }
}

#spacer {
  padding: 20px;
}

* {
  box-sizing: border-box;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 10px;
  width: 50%;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: 11px;
}

#pizza-img {
  height: 40%;
  background-size: cover;
  border: 2px solid black;
  box-shadow: 0 7px 7px rgba(180, 179, 179, 0.8), 0 -7px 7px rgba(180, 179, 179, 0.8);
  border-radius: 5px;
  margin-top: 40px;
  margin-left: 50px;

}

#column-text-left {
  padding-top: 100px;
  padding-left: 110px;
  padding-right: 90px;
  font-size: 20px;
}

#mozz-div-line {
  margin-top: -440px;
}

#cheddar-img {
  height: 50%;
  background-size: cover;
  border: 2px solid black;
  box-shadow: 0 7px 7px rgba(180, 179, 179, 0.8), 0 -7px 7px rgba(180, 179, 179, 0.8);
  border-radius: 5px;
  margin-top: 40px;
  margin-left: 150px;
}

#cheddar-img:hover {
  transform: scale(1.1)
}

#column-text-right {
  padding-top: 100px;
  padding-right: 110px;
  padding-left: 90px;
  font-size: 20px;
}

#ched-div-line {
  margin-top: -250px;
}

#bert-div-line {
  margin-top: -250px;
}

#berty-img {
  height: 50%;
  background-size: cover;
  border: 2px solid black;
  box-shadow: 0 7px 7px rgba(180, 179, 179, 0.8), 0 -7px 7px rgba(180, 179, 179, 0.8);
  border-radius: 5px;
  margin-top: 40px;
  margin-left: 50px;
}

#sub-info {
  margin-left: 190px;
  margin-right: 190px;
}

h3 {
  font-size: 40px;
  margin-left: 90px;
}

#veg-cheese {
  width: 550px;
  height: auto;
  background-size: cover;
  border: 2px solid black;
  margin-top: 40px;
}

#veg-box {
  width: 550px;
  height: auto;
  background-color: rgba(0, 0, 0, 0.11);
  border: 2px solid black;
  margin-top: -10px;
}